extends ../layouts/default.pug

block content
  #view-deck
    div name: #{name}
    div description: #{description}
    div type: #{type}
    div category: #{category}
    div user: #{user}
    div links:
    ul
      each link in links
        li
          div name: #{link.name}
          div link: #{link.link}
          div comment: #{link.comment}
