extends ../../layouts/default.pug

block styles
  style(type='text/css').
    h2 {
      font-weight: 700;
      font-size: 30px;
      padding-bottom: 25px;
    }

    #edit-deck {
      padding: 20px;
      margin-top: 10px;
      margin-left: 10%;
      margin-right: 10%;
    }

    #add-card-form .value {
      margin-bottom: 15px;
    }

    #add-card-form input[type=text] {
      border: 0;
      border-bottom: 1px solid #dddfe5;
      border-radius: 0;
    }

    .img-container {
      width: 100%;
      height: 300px;
    }

    .img-container img {
      height: 100%;
      max-width: 100%;
      display: block;
      margin: auto;
    }

    #add-card-btn {
      padding: .75em 1.6em .7em;
      background: linear-gradient(91.14deg,#3c5af3 0,#8253ff 122.55%);
      border: none;
      color: #fff;
      font-weight: bolder;
      cursor: pointer;
      transition: box-shadow 120ms,background-color 120ms;
      box-shadow: 0 0.1rem 0.1rem transparent;
      text-align: center;
      border-radius: 3px;
      font-size: 20px;
      margin-top: 10px;
      width: 100%;
    }

    #add-card-btn:hover {
      background: linear-gradient(91.14deg,#8253ff 0,#3c5af3 122.55%);
      box-shadow: 0 0.1rem 0.1rem rgba(0,0,0,.3);
      outline: 0;
    }

    #card-link {
      border: 0;
      border-bottom: 1px solid #dddfe5;
      border-radius: 0;
    }

    #add-card-form #card-link:focus {
      border-bottom: 1px solid #3c5af3;
    }

    .link-title, .link-comment, .link-image, .link-btn {
      display: none;
    }

    #cards {
      background: linear-gradient(#f6f6f6 0,#fff 100%);
      margin-top: 25px;
    }

    #publish-deck {
      width: 100px;
      text-align: center;
      position: absolute;
      right: 8px;
      top: 8px;
      box-sizing: border-box;
      font-weight: 600;
      cursor: pointer;
      border: 2px solid #fff;
      border-radius: 6px;
    }

      .tweet-button {
        border: 2px solid #1da1f2;
        padding: 9px;
        color: #1da1f2;
        font-family: 'Nunito';
        font-weight: bold;
        background-position: 0 0;
        border-radius: 7px;
      }
      .tweet-button:hover {
        background-position: 0 -21px;
      }

    @keyframes publish_btn_rainbow {
      0%,
      to {
        background-image: linear-gradient(115deg, #4fcf70, #fad648, #a767e5, #12bcfe)
      }

      25% {
        background-image: linear-gradient(115deg, #fad648, #a767e5, #12bcfe, #4fcf70)
      }

      50% {
        background-image: linear-gradient(115deg, #a767e5, #12bcfe, #4fcf70, #fad648)
      }

      75% {
        background-image: linear-gradient(115deg, #12bcfe, #4fcf70, #fad648, #a767e5)
      }
    }


    #publish-deck:hover {
      -webkit-animation: publish_btn_rainbow .5s linear infinite;
      animation: publish_btn_rainbow .5s linear infinite;
    }

    #publish-deck span {
      padding: 12px;
      font-size: 16px;
      align-items: center;
      border-radius: 3px;
      display: inline-block;
      width: calc(100% - 8px);
      justify-content: center;
      margin: 3px;
      box-sizing: border-box;
      transition: background .5s ease;
      font-weight: 700;
    }

    #cards {
      padding: 10px 25px;
      box-shadow: inset 0px 4px 10px 0px rgba(0, 0, 0, 0.06);
    }

    #cards .card {
      overflow: hidden;
      padding: 10px;
      border-radius: 3px;
      box-shadow: 0 0 0 1px #dddfe5;
      margin: auto;
      background: #fff;
      margin: 20px 0;
    }

    #cards .card:hover {
      box-shadow: 0 0 0 1px #3c5af3;
    }

    #cards a {
      font-weight: 500;
      color: #2b2a35;
    }

block navigation
  if !isPublished
    a#publish-deck
      span Publish

block content
  #edit-deck(data-url='/' + username + '/' + name)
    h2 #{name}

    form#add-card-form(data-url="/v1/links")
      input(type="hidden", name="deckId", value=id)

      .value
        input#card-link(type="text", name="link", placeholder="Paste your link...", autocomplete="off")

      .link-title.value
        input(type="text", name="name", placeholder="Card title")

      .link-comment.value
        input(type="text", name="comment", placeholder="What's your opinion about this? (optional)")

      .link-image.value
        input(type="hidden", name="imageUrl", placeholder="Card image")
        .img-container

    button#add-card-btn.link-btn(type="submit") Add Card

  #cards
    h3 In your deck...
    each link in links
      a(href=link.link, target="_blank")
        .card #{link.name}

block scripts
  script.
    let dirty = false;

    $('#add-card-btn').on('click', function (e) {
      const $form = $('#add-card-form'),
        data = FORM_DATA($form);

      REQUEST({
        method: 'POST',
        url: $form.data('url'),
        data: data
      }, function (error, response) {
        if (error) {
          console.error(error);
          return alert('Something went wrong!');
        }

        Swal.fire({
          position: 'center',
          type: 'success',
          title: 'Your card has been saved',
          showConfirmButton: false,
          timer: 1000
        });

        addCard(data);
        reset();
      });
    });

    $('#add-card-form').on('submit', function (e) {
      e.preventDefault();

      initCard($("#card-link").val(), function (err) {
        if (err) { return; }

        $('.link-title, .link-comment, .link-image, .link-btn').show();
      });
    });

    $('#publish-deck').on('click', function (e) {
      e.preventDefault();

      const self = $(this),
        dataUrl = `${window.location.origin}${$('#edit-deck').attr('data-url')}`;

      REQUEST({
        method: 'POST',
        url: '/v1/decks/#{id}/publish',
        data: FORM_DATA(self)
      }, function (error, response) {
        if (error) {
          console.error(error);
          return alert('Something went wrong!');
        }

        let tweetString = encodeURIComponent(`Check out this deck I just shared at ${dataUrl}`);

        Swal.fire({
          title: 'Your deck has been published!',
          type: 'success',
          width: 600,
          padding: '3em',
          footer: `
            <a class="tweet-button"
              target="_blank"
              href='https://twitter.com/intent/tweet?text=${tweetString}'
              data-size="large"><i class="fa fa-lg fa-twitter"></i>
            Tweet
            </a>`,
          backdrop: `
            rgba(0,0,123,0.4)
            url("https://sweetalert2.github.io/images/nyan-cat.gif")
            center left
            no-repeat
          `
        })
        $('#publish-deck').hide();
      });
    });

    $("#card-link").on("paste", function(e) {
      const self = $(this);

      setTimeout(function () {
        initCard(self.val(), function (err) {
          if (err) { return; }

          $('.link-title, .link-comment, .link-image, .link-btn').show();
        });
      }, 100);
    });

    function reset () {
      $('#add-card-form').trigger('reset');
      $('.link-title, .link-comment, .link-image, .link-btn').hide();
      $('#card-link').prop('readOnly', false);
      $('.link-image .img-container').html('');

      dirty = false;
    }

    function initCard (link, done) {
      if (dirty) {
        done && done();
      }

      dirty = true;

      let timerInterval
      Swal.fire({
        title: 'Fetching link details...',
        timer: 10000,
        onBeforeOpen: () => {
          Swal.showLoading()
          timerInterval = setInterval(() => {
            if (!Swal.getContent().querySelector('strong')) {
              return;
            }

            Swal.getContent().querySelector('strong')
              .textContent = Swal.getTimerLeft()
          }, 100)
        },
        onClose: () => {
          clearInterval(timerInterval)
        }
      });

      REQUEST({
        method: 'POST',
        url: '/v1/links/scrape',
        data: { link }
      }, function (error, response) {
        Swal.close();

        if (error) {
          console.error(error);
          return done(error);
        }

        $('#card-link').prop('readOnly', true);

        $('.link-title input').val(response.data.title);
        $('.link-image input').val(response.data.image);
        $('.link-image .img-container').html($('<img>',{src: response.data.image}));

        return done();
      });
    }

    function addCard (card) {
      $('#cards').append(`<a href=${card.link} target="_blank"><div class='card'>${card.name}</div></a>`);
    }
