extends ../../layouts/default.pug

block styles
  style(type='text/css').
    #navigation {
      box-shadow: none;
    }

    .nav {
      display: inline-block;
      position: absolute;
      right: 20px;
      top: 22px;
      font-size: 20px;
      cursor: pointer;
    }

    .nav a {
      margin-left: 25px;
    }

    .md-chip {
      color: white;
      display: inline-block;
      background: linear-gradient(91.14deg,#3c5af3 0,#8253ff 122.55%);
      padding: 0 14px;
      border-radius: 32px;
      font-size: 13px;
      margin-left: 10px;
    }

    #view-deck {
      height: calc(100% - 72px);
      display: -ms-flexbox;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-box;
      display: box;

      -ms-flex-direction: row;
      -webkit-box-orient: horizontal;
      -moz-box-orient: horizontal;
      -ms-box-orient: horizontal;
      box-orient: horizontal;
    }

    .side-nav {
      background: linear-gradient(#f6f6f6 0,#fff 100%);
      width: 300px;
      -ms-flex: 0 100px;
      -webkit-box-flex:  0;
      -moz-box-flex:  0;
      -ms-box-flex:  0;
      box-flex:  0;
      box-shadow: inset 0px 4px 10px 0px rgba(0, 0, 0, 0.06);
      overflow-y: scroll;
    }

    .preview {
      -ms-flex: 1;
      -webkit-box-flex: 1;
      -moz-box-flex: 1;
      -ms-box-flex: 1;
      box-flex: 1;
      padding: 40px;
      overflow-y: scroll;
    }

    .link-item {
      padding: 15px;
      border-bottom: 1px solid #ccc;
      cursor: pointer;
    }

    .link-item:hover {
      background: #eaeaea;
      color: #3c5af3;
    }

    .link-item.active {
      background: #eaeaea;
      color: #3c5af3;
    }

    .deck-info .deck-name {
      font-weight: 600;
      font-size: 40px;
      border-bottom: 2px solid #d6d6d640;
    }

    .deck-info .deck-description {
      padding: 20px 10px;
    }

    .deck-info .deck-meta {
      margin-top: 20px;
      text-align: right;
    }

    .link-info {
      display: none;
    }

    .link-info .link-name {
      font-weight: 600;
      font-size: 30px;
    }

    .preview-content {
      text-align: center;
      display: none;
      margin: 30px auto;
      max-width: 100%;
      border: none;
      box-shadow: 0 0.2rem 0.5rem rgba(103,110,144,.2), 0 0 0 0.1rem rgba(103,110,144,.05);
    }

    .preview-content.not-available {
      padding: 20px;
      box-shadow: none;
    }

    .preview-content img {
      max-width: 100%;
    }

    .preview-content .link-url {
      margin-top: 30px;
      color: #3c5af3;
      display: block;
      font-weight: 600;
      font-size: 20px;
    }

block navigation
  .nav
    a(href="/me") My decks
    a(href="/create") Create new

block content
  #view-deck
    div.side-nav
      ul
        each link in links
          li.link-item(data-id=link.id, data-url=link.link, data-comment=link.comment, data-image=link.imageUrl)
            div #{link.name}
    div.preview
      .deck-info
        h1.deck-name #{name}
        .deck-description #{description}
        .deck-meta
          span.md-chip #{category}
      .link-info
        .link-name
        blockquote.link-comment
      #iframe
        each link in links
          if link.iframeUrl
            iframe.preview-content(src=link.iframeUrl, data-id=link.id, width=link.iframeWidth, height=link.iframeHeight)
          else
            .preview-content.not-available(data-id=link.id)
              img(src=link.imageUrl, alt=link.name)
              a.link-url(href=link.link, target="_blank")
                span.fa.fa-external-link &nbsp;View Original

block scripts
  script.
    $('.link-item').on('click', function (e) {
      const self = $(this);

      $('.side-nav .link-item').removeClass('active');
      self.addClass('active');

      $(`.preview-content`).css('display', 'none');
      $('.deck-info').hide();
      $('.link-info').show();

      $('.link-info .link-name').text(self.text());

      if (self.data('comment')) {
        $('.link-info .link-comment').html(self.data('comment'));
        $('.link-info .link-comment').show();
      }
      else {
        $('.link-info .link-comment').hide();
      }

      $(`.preview-content[data-id=${self.data('id')}]`).css('display', 'block');
    });

